
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutBookStore.cshtml";
}

<h2>Don hang da duoc xac nhan</h2>
<p>@Html.ActionLink("Đi tới trang chủ", "Index", "BookStore")</p>
